// 変数定義
$padding: 32px;

// mixin定義
@mixin background-color($hue) {
  background-color: hsl( $hue, 60, 60 );
}

//共通セレクター
*,
*:before,
*:after {
  box-sizing: inherit;
}


// 要素セレクター
html {
  box-sizing: border-box;
}
body {
  margin:0;
}

// ページ内共通クラス
.section-wrapper {
  margin-bottom: $padding;
}
.box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  @include background-color(30);
}
.box2 {
  @include background-color(60);
}
.box3 {
  @include background-color(90);
}
.box4 {
  @include background-color(120);
}
.box5 {
  @include background-color(150);
}

// セクション固有のクラス
.vw-box {
  width: 25vw;
  height: 25vw;
}
.percent-wrapper {
  width: 25%;
}
.pseudo-element-wrapper {
  position: relative;
  width: 100%;
}
.pseudo-element-wrapper::before {
  content:"";
  display: block;
  padding-top: 100%; /* 高さを幅の75%に固定 */
}
.pseudo-element-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

