// 変数定義
$padding: 32px;

// mixin定義
@mixin background-color($hue) {
  background-color: hsl( $hue, 60, 60 );
}

//共通セレクター
*,
*:before,
*:after {
  box-sizing: inherit;
}


// 要素セレクター
html {
  box-sizing: border-box;
}
body {
  margin:0;
}

// ページ内共通クラス
.section-wrapper {
  margin-bottom: $padding;
}
.box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

// セクション固有のクラス
.vw-box {
  width: 25vw;
  height: 25vw;
}

.vw-box1 {
  @include background-color(30);
}
.vw-box2 {
  @include background-color(60);
}
.vw-box3 {
  @include background-color(90);
}
.vw-box4 {
  @include background-color(120);
}
.vw-box5 {
  @include background-color(150);
}




// 過去のもの
.wrapper--padding32px {
  padding: $padding;
}

.wrapper--padding32pxfix {
  padding: $padding;
  // width: calc( 50% + 64px );
  width: calc( 50% + #{$padding} * 2 );
}

.description-wrapper {
  padding:1em 1em 1em 2em;
  list-style-position: inside;
  li {
    text-indent: -1em;
  }
}

.vw-content {
  @include background-color(60);
  height: calc( 50vw * 0.75);
  width: 50vw;
}

.pseudo-element-wrapper {
  position: relative;
  width: 100%;
}
.pseudo-element-wrapper::before {
  content:"";
  display: block;
  padding-top: 75%; /* 高さを幅の75%に固定 */
}

@mixin content($hue) {
  @include background-color($hue);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content1 {
  @include content(120);
}
.content2 {
  @include content(180);
}
.content3 {
  @include content(210);
}